@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">RetroTapes Grupp F</h1>
    <p>Test test, lorem ipsum dolor sit amet.</p>
</div>
