@page
@model IndexModel
@{
    ViewData["Title"] = "Hem";
}

<div class="hero-section text-center p-5">
    <h1>RetroTapes!</h1>
    <p class="lead">Där gamla VHS-klassiker lever vidare 📼✨</p>
</div>


